node_modules/
**/node_modules/
.DS_Store
.env
.env.*
!.env.example
!**/.env.example
*.log
dist/
build/
.expo/
ema-mobile/.expo/
ema-mobile/expo
ema-mobile/ema-mobile@*
ema-mobile/android/
ema-mobile/ios/
backend/sql/metaapi.txt
backend/tatum.txt
coinpayment.txt
backend/sms_mobilemoney.txt
supabase.txt
**/supabase.txt
